### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Intellij ###

.idea/**/*.*

### Mac OS ###
.DS_Store
/app/target/**/*.*
/domain/target/**/*.*
/db-migration/target/**/*.*
/spi/target/**/*.*
/test-spi/target/**/*.*
/auditing/target/**/*.*
/crypto/target/**/*.*
/keycloak-spi/**/*.*
/search-filter/target/classes/com/acme/jga/search/filtering/antlr/FilterBaseListener.class
/search-filter/target/classes/com/acme/jga/search/filtering/antlr/FilterLexer.class
/search-filter/target/classes/com/acme/jga/search/filtering/antlr/FilterListener.class
/search-filter/target/classes/com/acme/jga/search/filtering/antlr/FilterParser$ExprContext.class
/search-filter/target/classes/com/acme/jga/search/filtering/antlr/FilterParser$FilterContext.class
/search-filter/target/classes/com/acme/jga/search/filtering/antlr/FilterParser.class
/search-filter/target/classes/com/acme/jga/search/filtering/constants/SearchParams.class
/search-filter/target/classes/com/acme/jga/search/filtering/exceptions/ParsingException.class
/search-filter/target/classes/com/acme/jga/search/filtering/expr/Expression.class
/search-filter/target/classes/com/acme/jga/search/filtering/expr/ExpressionType.class
/search-filter/target/classes/com/acme/jga/search/filtering/expr/FilterComparison.class
/search-filter/target/classes/com/acme/jga/search/filtering/listener/AntlrErrorListener.class
/search-filter/target/classes/com/acme/jga/search/filtering/listener/SearchFilterListener.class
/search-filter/target/classes/com/acme/jga/search/filtering/parser/QueryParser.class
/search-filter/target/classes/com/acme/jga/search/filtering/utils/ParsingResult.class
