### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/app/target/classes/com/acme/jga/rest/controllers/TenantsController.class
/app/target/classes/com/acme/jga/rest/dtos/v1/tenants/TenantDisplayDto$TenantDisplayDtoBuilder.class
/app/target/classes/com/acme/jga/rest/dtos/v1/tenants/TenantDisplayDto.class
/app/target/classes/com/acme/jga/rest/dtos/v1/tenants/TenantDto$TenantDtoBuilder.class
/app/target/classes/com/acme/jga/rest/dtos/v1/tenants/TenantDto.class
/app/target/classes/com/acme/jga/rest/dtos/v1/tenants/TenantListDisplayDto$TenantListDisplayDtoBuilder.class
/app/target/classes/com/acme/jga/rest/dtos/v1/tenants/TenantListDisplayDto.class
/app/target/classes/com/acme/jga/rest/dtos/v1/tenants/UidDto$UidDtoBuilder.class
/app/target/classes/com/acme/jga/rest/dtos/v1/tenants/UidDto.class
/app/target/classes/com/acme/jga/rest/services/tenants/api/AppTenantsService.class
/app/target/classes/com/acme/jga/rest/services/tenants/impl/AppTenantsServiceImpl.class
/app/target/classes/com/acme/jga/rest/utils/WebApiVersions$OrganizationsResourceVersion$Endpoints.class
/app/target/classes/com/acme/jga/rest/utils/WebApiVersions$OrganizationsResourceVersion.class
/app/target/classes/com/acme/jga/rest/utils/WebApiVersions$SectorsResourceVersion$Endpoints.class
/app/target/classes/com/acme/jga/rest/utils/WebApiVersions$SectorsResourceVersion.class
/app/target/classes/com/acme/jga/rest/utils/WebApiVersions$SpiResourceVersion$Endpoints.class
/app/target/classes/com/acme/jga/rest/utils/WebApiVersions$SpiResourceVersion.class
/app/target/classes/com/acme/jga/rest/utils/WebApiVersions$SystemResourceVersion$Endpoints.class
/app/target/classes/com/acme/jga/rest/utils/WebApiVersions$SystemResourceVersion.class
/app/target/classes/com/acme/jga/rest/utils/WebApiVersions$TenantsResourceVersion$Endpoints.class
/app/target/classes/com/acme/jga/rest/utils/WebApiVersions$TenantsResourceVersion.class
/app/target/classes/com/acme/jga/rest/utils/WebApiVersions$UsersResourceVersion$Endpoints.class
/app/target/classes/com/acme/jga/rest/utils/WebApiVersions$UsersResourceVersion.class
/app/target/classes/com/acme/jga/rest/utils/WebApiVersions.class
/app/target/classes/com/acme/jga/PocApplication.class
/app/target/classes/module-info.class
/domain/target/classes/com/acme/jga/domain/annotations/DomainService.class
/domain/target/classes/com/acme/jga/domain/exceptions/FunctionalErrors.class
/domain/target/classes/com/acme/jga/domain/exceptions/FunctionalException.class
/domain/target/classes/com/acme/jga/domain/exceptions/TechnicalException.class
/domain/target/classes/com/acme/jga/domain/i18n/BundleFactory.class
/domain/target/classes/com/acme/jga/domain/impl/functions/tenants/api/TenantExistsFunc.class
/domain/target/classes/com/acme/jga/domain/impl/functions/tenants/impl/TenantCreateFuncImpl.class
/domain/target/classes/com/acme/jga/domain/impl/functions/tenants/impl/TenantDeleteFuncImpl.class
/domain/target/classes/com/acme/jga/domain/impl/functions/tenants/impl/TenantExistsFuncImpl.class
/domain/target/classes/com/acme/jga/domain/impl/functions/tenants/impl/TenantFindFuncImpl.class
/domain/target/classes/com/acme/jga/domain/impl/functions/tenants/impl/TenantListFuncImpl.class
/domain/target/classes/com/acme/jga/domain/impl/functions/tenants/impl/TenantUpdateFuncImpl.class
/domain/target/classes/com/acme/jga/domain/input/functions/tenants/TenantCreateInput.class
/domain/target/classes/com/acme/jga/domain/input/functions/tenants/TenantDeleteInput.class
/domain/target/classes/com/acme/jga/domain/input/functions/tenants/TenantFindInput.class
/domain/target/classes/com/acme/jga/domain/input/functions/tenants/TenantListInput.class
/domain/target/classes/com/acme/jga/domain/input/functions/tenants/TenantUpdateInput.class
/domain/target/classes/com/acme/jga/domain/model/generic/CompositeId.class
/domain/target/classes/com/acme/jga/domain/model/generic/IdKind.class
/domain/target/classes/com/acme/jga/domain/model/sorting/OrderByClause$OrderByClauseBuilder.class
/domain/target/classes/com/acme/jga/domain/model/sorting/OrderByClause.class
/domain/target/classes/com/acme/jga/domain/model/sorting/OrderDirection.class
/domain/target/classes/com/acme/jga/domain/model/tenant/Tenant.class
/domain/target/classes/com/acme/jga/domain/model/tenant/TenantId.class
/domain/target/classes/com/acme/jga/domain/model/tenant/TenantStatus.class
/domain/target/classes/com/acme/jga/domain/output/functions/tenants/TenantCreateOutput.class
/domain/target/classes/com/acme/jga/domain/output/functions/tenants/TenantDeleteOuput.class
/domain/target/classes/com/acme/jga/domain/output/functions/tenants/TenantExistsOutput.class
/domain/target/classes/com/acme/jga/domain/output/functions/tenants/TenantFindOutput.class
/domain/target/classes/com/acme/jga/domain/output/functions/tenants/TenantListOutput.class
/domain/target/classes/com/acme/jga/domain/output/functions/tenants/TenantUpdateOutput.class
/domain/target/classes/com/acme/jga/domain/shared/StreamUtil.class
/domain/target/classes/messages.properties
/domain/target/classes/module-info.class
/spi/target/classes/com/acme/jga/spi/adapter/tenant/TenantCreateOutputImpl.class
/spi/target/classes/com/acme/jga/spi/adapter/tenant/TenantDeleteOutputImpl.class
/spi/target/classes/com/acme/jga/spi/adapter/tenant/TenantExistsOutputImpl.class
/spi/target/classes/com/acme/jga/spi/adapter/tenant/TenantFindOutputImpl.class
/spi/target/classes/com/acme/jga/spi/adapter/tenant/TenantListOutputImpl.class
/spi/target/classes/com/acme/jga/spi/adapter/tenant/TenantUpdateOutputImpl.class
/spi/target/classes/com/acme/jga/spi/dao/tenant/api/TenantsDao.class
/spi/target/classes/com/acme/jga/spi/dao/tenant/impl/TenantsDaoImpl$1.class
/spi/target/classes/com/acme/jga/spi/dao/tenant/impl/TenantsDaoImpl.class
/spi/target/classes/com/acme/jga/spi/jdbc/extractors/TenantsDbExtractor.class
/spi/target/classes/com/acme/jga/spi/jdbc/model/RdbmsTenant.class
/spi/target/classes/com/acme/jga/spi/jdbc/model/RdbmsTenantCreate.class
/spi/target/classes/com/acme/jga/spi/jdbc/utils/AbstractJdbcDaoSupport$CompositeQuery.class
/spi/target/classes/com/acme/jga/spi/jdbc/utils/AbstractJdbcDaoSupport$PaginationResult.class
/spi/target/classes/com/acme/jga/spi/jdbc/utils/AbstractJdbcDaoSupport.class
/spi/target/classes/com/acme/jga/spi/jdbc/utils/DaoConstants.class
/spi/target/classes/com/acme/jga/spi/jdbc/utils/SQLExtractor.class
/spi/target/classes/com/acme/jga/spi/jdbc/utils/WhereClause$WhereClauseBuilder.class
/spi/target/classes/com/acme/jga/spi/jdbc/utils/WhereClause.class
/spi/target/classes/com/acme/jga/spi/jdbc/utils/WhereOperator.class
/spi/target/classes/db/sql/tenants.properties
/spi/target/classes/module-info.class
